#contact-container {
    width: 90%;
    margin: 6rem auto;
    display: flex;
    flex-direction: row;
}
#contact-container > div {
    width: 50%;
    height: auto;
    border: 3px solid #1F1F20;
}

#contact-container > div > .contact-content {
    padding: 10px;
    width: 80%;
    margin: 2rem auto;
}
#contact-container > div > .contact-content > h3 {
    padding-bottom: 1rem;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}
#contact-container > div > .contact-content > p {
    font-size: 16px;
    line-height: 1.2em;
    padding: 10px;
    margin-bottom: 15px;
    color: #1F1F20;
}
#contact-container > div > .contact-content > div > p{
    padding-bottom: 10px;
    padding: 10px;
    width: 60%;

}
#contact-container > div > .contact-content > div > p:nth-child(even){
    padding-bottom: 10px;
    border: 2px solid #1F1F20;
}
#contact-container > div > .contact-content > div > p:nth-child(even) > a {
    text-decoration: none;
    color: #1F1F20;
}

#contact-container > div > .contact-img {
    width: 40%;
    float: right;
    height: auto;
    position: relative;
    bottom: 120px;
}
#contact-container > div > .contact-img > img {
    width: 100%;
    height: 150px;
}

#contact-container > div:last-child {
    width: 50%;
}
#contact-container > div > #contact-form-control .form-container {
    width: 90%;
    margin: 2rem auto;
    padding: 15px;
} 
#contact-container > div > #contact-form-control .form-container >
.form-group-container {
    width: 100%;
    padding: 10px;
}
#contact-container > div > #contact-form-control > .form-container >
.form-group-container > input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}
.form-container-address {
    padding: 10px;
}
#contact-container > div > #contact-form-control > .form-container >
.form-group-container textarea{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    resize: none;
}
#contact-container > div > #contact-form-control > .form-container .buttonHolder > button {
    padding: 12px;
    margin: 10px;
    font-size: 14px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}
#contact-container > div > #contact-form-control > .form-container .buttonHolder > button:hover {
    background: #313131;
    border: 1px solid #313131;
} 

@media screen and (max-width: 576px) {
    #contact-container {
        width: 90%;
        flex-direction: column;
    }
    #contact-container > div {
        width: 100%;
    }
    #contact-container > div:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    #contact-container {
        width: 95%;
    }
    #contact-container > div > .contact-content {
        padding: 5px;
        width: 100%;
        margin: 2rem auto;
    }
    #contact-container > div > #contact-form-control .form-container {
        width: 95%;
        margin: 2rem auto;
        padding: 5px;
    }
}