* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#dashboard_nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    padding: 10px;
    margin-left: 20%;
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#dashboard_nav > #menu_icon {
    display: block;
    padding-top: 10px;
    cursor: pointer;
}
#dashboard_nav > #menu_icon > .icon{
    width: 30px;
    height: 3px;
    margin: 5px;
    border: 2px solid #000;
}
#dashboard_nav > .profile_holder {
    display: flex;
    justify-content: space-around;
    width: auto;
    color: #000;
}
#dashboard_nav > .profile_holder > p {
    padding-top: 20px;
    padding-right: 10px;
}
#dashboard_nav > div.profile_holder .profile_photo {
    padding-top: 10px;
    cursor: pointer; 
}
#dashboard_nav > div.profile_holder .profile_photo > img{
    width: 40px;
    border-radius: 50%; 
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* queries */
@media screen and (max-width: 576px) {
    #dashboard_nav {
        margin-left: 0%;
        width: 100%;
    }
}