* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    height: 100vh;
}


/* queries */
@media screen and (max-width: 576px) {
    #category > #cat-wrapper {
        flex-direction: column;
    }
    #category > #cat-wrapper > .cat-holder img{
        width: 100%;
        height: 280px;
    }
    #category > #cat-wrapper > .cat-holder > .cat-content-holder {
        width: 50%;
        position: relative;
        bottom: 13rem;
        left: 15rem;
    }
    #products > .product-list {
        flex-direction: column;
    }
    #products > .product-wrapper {
        width: 95%;
    }
    #products > .product-wrapper > .product-holder {
        width: 45%;   
    }
    #product-man {
        flex-direction: column-reverse;
        height: auto; 
        overflow: hidden;
        text-align: center;
    } 
    #product-man > #manOnProduct {
        width: 50%;
        margin-left: 35px;
    }
    #product-man > #manOnProduct > img {
        height: 331px;
        width: 60%;
        position: relative;
        bottom: -0.4rem;
        margin-left: 9rem;
    }
    #product-man > #product-content > h2 {
        font-size: 2em;
        line-height: 1.2em;
    }
    #product-man > #product-content > .show-products {
        flex-direction: column-reverse;
    }
    #product-collection-container {
        flex-direction: column; 
    }
    #product-collection-container > .c-check_man img{
        width: 45%;
        height: 300px;
    }
    #product-collection-container > .collectShopDetail {
        margin-top: 0rem;
        text-align: center;
    }
    #product-collection-container > .collectShopDetail > h2 {
        font-size: 1.9em;
        line-height: 1.3em;
        padding-left: 5px;
        display: inline-block;
    }
    #product-collection-container > .collectShopDetail >  button {
        background: #0000ff;
        color: #fff;
        width: 50%;
        padding: 10px;
        margin-top: 2rem;
        font-size: 20px;
        border-radius: 50px; 
        border: 1px solid #0000ff;
    }
    #product-collection-container > .split-holder {
        width: 80%;
        margin: 0px auto;
        padding-top: 4.5rem;
        align-items: center;
    }
    #product-collection-container > .split-holder > .collection-split {
       width: 100%;
    }
    #article {
        padding: 3rem 0rem 1rem 0rem;
        width: 100%;
    }
    #article > #article-wrapper {
        flex-direction: column;
    }
    #article > #article-wrapper > .article-holder {
        text-align: center;
        width: 100%;
        margin: 5px;
        line-height: 2.1em;
    }
    #gallery-holder > .gallery-wrapper {
        flex-direction: column;
    }
    #gallery-holder > h1 {
        margin-left: 0rem;
    }
    #gallery-holder > .gallery-wrapper > div.gallery-img-holder > a > img {
        width: 100%;
        height: 300px;
    } 

}
