* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signin_container {
    width: 90%;
    margin: 0px auto;
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.signin_container > .signin_img_holder {
    width: 50%;
    height: 80vh;
   
}
.signin_container > .signin_img_holder > #signin_content {
    text-align: center;
    padding: 10px;
}
.signin_container > .signin_img_holder > #signin_img_wrapper > img {
    width: 80%;
    margin: 25px 0px 0px 55px;
    
}

.signin_container > #signin_contact_holder {
    width: 55%;
    height: 80vh;
}
.signin_container > #signin_contact_holder > h1 {
    text-align: center;
}
.signin_container > #signin_contact_holder > p {
    text-align: center;
    color: #a59f9f;
}
#errResponseText {
    color: #f7adad !important;
}
.signin_container > #signin_contact_holder > h1 a{
    color: #000;
    text-decoration: none;
}
.signin_container > #signin_contact_holder > #signin{
        width: 60%;
        margin: 0px auto;
        margin-top: 6rem;
        padding: 10px;
}
.signin_container > #signin_contact_holder > #signin > input{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#emailFeedBack, #pswFeedBack {
    color: lightcoral;
    padding: 5px;
}
#signin_contact_holder > #signin > button {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 18px;
    background: #90ee90;
    border: 1px solid #90ee90;
    cursor: pointer;
    outline: none;
}
#signin_contact_holder > #signin > button:hover {
    background: #008000;
    color: #fff;
} 

/* queries */
@media screen and (max-width: 576px) {
    .signin_container {
        flex-direction: column;
    }
}