* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signin_container {
    width: 50%;
    margin: 0px auto;
    padding-top: 6rem;
}
.signin_container > #signin_contact_holder {
    width: 100%;
    height: auto;
}
.signin_container > #signin_contact_holder > h1 {
    text-align: center;
}
.signin_container > #signin_contact_holder > p {
    text-align: center;
    color: #a59f9f;
}
#errResponseText {
    color: #f7adad !important;
}
.signin_container > #signin_contact_holder > h1 a{
    color: #000;
    text-decoration: none;
}
.signin_container > #signin_contact_holder > #signin{
        width: 60%;
        margin: 0px auto;
        margin-top: 2rem;
        padding: 20px;
        border: 2px solid #1F1F20;
}
.signin_container > #signin_contact_holder > #signin > input{
    width: 100%;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    font-size: 1rem;
}
#emailFeedBack, #pswFeedBack {
    color: lightcoral;
    padding: 5px;
}
#signin_contact_holder > #signin > button {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 18px;
    background: #1F1F20;
    color: #fff;
    border: 1px solid #1F1F20;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
#signin_contact_holder > #signin > button:hover {
    background: #1F1F20; 
} 
.signin-content {
    text-align: center;
    color: #1F1F20;
}
.signin-content > a {
    text-decoration: underline;
    color: #000;
}
.signin-content > a:hover {
    text-decoration: none;
}
/* queries */
@media screen and (max-width: 576px) {
    .signin_container {
        width: 90%;
        margin: 0px auto;
        padding-top: 5rem;
    }
    .signin_container > #signin_contact_holder > #signin{
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .signin_container {
        width: 98%;
    }
}

@media screen and (max-width: 320px) {
    .signin_container {
        width: 100%;
    }
}