* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signup_container {
    width: 90%;
    margin: 0px auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.signup_container > .signup_img_holder {
    width: 50%;
    height: 80vh;
   
}
.signup_container > .signup_img_holder > #signup_content {
    text-align: center;
    padding: 10px;
}
.signup_container > .signup_img_holder > #signup_img_wrapper > img {
    width: 80%;
    height: 450px;
    margin: 25px 0px 0px 55px;
    
}

.signup_container > #signup_contact_holder {
    width: 55%;
    height: 80vh;
}
.signup_container > #signup_contact_holder > h1 {
    text-align: center;
    padding: 10px;
}
.signup_container > #signup_contact_holder >  div#successResponseText > p{
    text-align: center;
    color: #008000;
    background: #90ee90;
    width: 60%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px; 
}
.signup_container > #signup_contact_holder > h1 a{
    color: #000;
    text-decoration: none;
}
.signup_container > #signup_contact_holder > #signup{
        width: 60%;
        margin: 0px auto;
        margin-top: 1rem;
        padding: 10px;
}
.signup_container > #signup_contact_holder > #signup > input{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#firstNameFeedBack, #lastNameFeedBack, #emailFeedBack, #pswFeedBack {
    color: lightcoral;
    padding: 3px;
}
.show_btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 18px;
    background: #90ee90;
    color: #fff;
    border: 1px solid #90ee90;
    cursor: pointer;
    outline: none;
}
.show_btn:hover {
    background: #008000;
    color: #fff;
} 
.signup-content-inform {
   color: #a59f9f;
   padding-top: 5px;
}

@media screen and (max-width: 576px) {
    .signup_container {
        flex-direction: column;
    }
}