.response {
    position: absolute;
    top: 80px;
    right: 0;
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #000;
    border-radius: 3px;
}
.success {
    background: #d4edda;
}
.err {
    background: #f8d7da;
}
.profile {
    padding: 12px;
    height: auto;
    width: 50%;
    position: relative;
    bottom: 45px;
    left: 15rem;
}
.profile > img {
    width: 22%;
    margin-left: 12rem;
    border-radius: 50%;
    cursor: pointer;
}
.profile > .user_fullname {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
}
.profile > .user_fullname > span {
    color: #000;
}

#profileForm {
    width: 50%;
    margin: 5rem auto;
    padding: 12px;
    box-shadow: 0px 2px 4px 0px;
}
#profileForm > .form-group-container {
    width: 92%;
    margin: 10px auto;
} 
#profileForm > .form-group-container > input {
    width: 100%;
    padding: 15px;
    margin: 3px 0px 3px 0px;
    font-size: 1rem;
}
#profileForm > #uploadContainer {
    width: 92%;
    margin: 10px auto;
} 
#profileForm > #uploadContainer > #openUploadBox {
    display: block;
    background: #8e8c8c21;
    color: #636161;
    padding: 4.5rem;
    text-align: center;
    font-size: 1.7em;
    border: 2px dotted #636161;
    border-radius: 3px;
    cursor: pointer;
}
#profileForm > #uploadContainer > #upload {
    display: none;
}
#profileForm > #buttonHolder {
    width: 95%;
    margin: 25px auto;
}
#profileForm > #buttonHolder > button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}
#profileForm > #buttonHolder > button:hover {
    background: #313131;
    border: 1px solid #313131;
}
#firstNameFeedBack, #lastNameFeedBack, #emailFeedBack, #uploadErr{
    color: lightcoral;
    padding: 5px 0px 5px 0px;
}

/* queries */
@media screen and (max-width: 576px) {
    #profileForm {
        width: 90%;
    }
}
