#footer {
    padding: 50px 0px 10px 0px;
}
#footer > .footer-content {
    width: 90%;
    margin: 0rem auto;
}
#footer > .footer-content > div {
    width: 15%;
    height: auto;
    padding: 1px;
    margin: 15px 4px 15px 3px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}
#footer > .footer-content > div h2 {
    padding-bottom: 15px;
    font-size: 1.1rem;
    color: rgb(117, 110, 110);    
}
#footer > .footer-content > div ul li {
    list-style: none;
    padding: 5px 0px 10px 0px;
    color: rgb(117, 110, 110);    
}
#footer > .footer-content > div ul li a.footer-link {
    text-decoration: none;
    color: rgb(117, 110, 110);
}
#footer > .footer-content > div ul li a.footer-link:hover {
    text-decoration: underline;
}
#main-footer {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    padding-bottom: 10px;
}
#main-footer > #footer-copyight-text p > a {
    text-decoration: none;
    color: rgb(117, 110, 110);
}
#main-footer > #footer-copyight-text p > a i {
    color: #3131eb;
}

/* queries */
@media screen and (max-width: 576px) {
    #footer > .footer-content > div {
        width: 48% !important;
    }
    #main-footer {
        width: 95%;
        margin: 0px auto;
    }
    #main-footer > #footer-copyight-text {
        width: 100%;
        font-size: 13px;
    }
}

@media screen and (max-width: 440px) {
    #footer > .footer-content > div {
        width: 47% !important;
    }
}