#profileForm {
    width: 50%;
    margin: 6rem auto;
    padding: 12px;
    box-shadow: 0px 2px 4px 0px;
}
#profileForm > .form-group-container {
    width: 92%;
    margin: 10px auto;
} 
#profileForm > .form-group-container > input {
    width: 100%;
    padding: 15px;
    margin: 3px 0px 3px 0px;
    font-size: 1rem;
}
#profileForm > #uploadContainer {
    width: 92%;
    margin: 10px auto;
} 
#profileForm > #uploadContainer > #openUploadBox {
    display: block;
    background: #8e8c8c21;
    color: #636161;
    padding: 4.5rem;
    text-align: center;
    font-size: 1.7em;
    border: 2px dotted #636161;
    border-radius: 3px;
    cursor: pointer;
}
#profileForm > #uploadContainer > #upload {
    display: none;
}
#profileForm > #buttonHolder {
    width: 95%;
    margin: 25px auto;
}
#profileForm > #buttonHolder > button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}
#profileForm > #buttonHolder > button:hover {
    background: #313131;
    border: 1px solid #313131;
} 

/* queries */
@media screen and (max-width: 576px) {
    #profileForm {
        width: 80%;
    } 
}

@media screen and (max-width: 576px) {
    #profileForm > #uploadContainer > #openUploadBox {
        padding: 3.5rem;
    }
}
